#burger-logo {
    font-size: 8rem;
}

.btn-remove {
    border: solid 1px #004444;
    border-bottom: solid 3px #004444;
    color: #004444;
    margin-left: 20px;
}

.btn-remove:hover {
    background-color: #004444;
    border-bottom: solid 3px #005c5c;
    color: #fff;
}

.btn-remove:active {
    border-bottom: solid 1px #005c5c;
}